* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #f3f4f6;
	font-family: Arial, sans-serif;
}

.card {
	text-align: center;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 700px;
}

.card img {
	width: 100%;
	height: auto;
}

.card-text {
	padding: 20px;
	background-color: #4f46e5;
	color: #fff;
}

.card-text h2 {
	margin-bottom: 10px;
	font-size: 1.5em;
}

.card-text p {
	font-size: 1em;
	color: #d1d5db;
}
